/* globals.css */
@import "tailwindcss";

/* Default ✔️ Google Sans as default */
html,
body {
  font-family: var(--font-google-sans), system-ui, sans-serif;
}

/* Utility classes */
.font-cal {
  font-family: var(--font-cal-sans), system-ui, sans-serif;
}

.font-urbanist {
  font-family: var(--font-urbanist), system-ui, sans-serif;
}
